.frame-1,
.frame-1 * {
  box-sizing: border-box;
}
.frame-1 {
  background: #fb5153;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 104px;
  top: 32px;
  width: 249px;
  height: 93px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 542px;
  top: 32px;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 879px;
  top: 32px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 1179px;
  top: 32px;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 48px;
  top: 179px;
}
.reach-out-to-the-course-team-for-support-or-inquiries {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 48px;
  top: 271px;
  width: 874px;
  height: 39px;
}
.professor-contact-details {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 48px;
  top: 394px;
  width: 1099px;
}
.paul-t-shapiro-pshapiro-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 48px;
  top: 450px;
  width: 1099px;
}
.ta-contact {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 48px;
  top: 569px;
  width: 1099px;
}
.bharath-sreekumar-bsreekum-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 48px;
  top: 625px;
}
.caifu-lin-clin-0817-terpmail-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 48px;
  top: 681px;
}
.sumanth-devara-sdevara-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 48px;
  top: 737px;
}
